.nav{
	width:100%;
	height:100%;
	color:#999999;
	margin:0px auto;
}
.black_overlay{ 
    display: none; 
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: black; 
    z-index:1001; 
    -moz-opacity: 0.8; 
    opacity:.80; 
    filter: alpha(opacity=88); 
} 
.register_left{
	float:left;
	width:25%;
	height:425px;
}
.regMenuList_on,.regMenuList{
	height:200px;
	text-align:center;
	line-height:200px;
	color:#CC0000;
}
#phoneRegform{
	width:400px;
	height:350px;
	margin-left:90px;
    margin-top:50px;
}
#phoneRegform span{
	font-size:18px;
    position: relative;
    top: 2px;

}
.back_i{
	width:24px;
	height:24px;
	background:url(../image/resgister.png) -51px 0px;
	float: left;
    margin-left: 16px;
    margin-top: 8px;
}
.back_ii{
	width:24px;
	height:24px;
	background:url(../image/resgister.png) -420px 0px;
	float: left;
    margin-left: 16px;
    margin-top: 8px;
}
.back_iii{
	width:24px;
	height:24px;
	background:url(../image/resgister.png) -260px 0px;
	float: left;
    margin-left: 16px;
    margin-top: 8px;
}
.back_vi{
	width:24px;
	height:24px;
	background:url(../image/resgister.png) -85px 0px;
	float: left;
    margin-left: 16px;
    margin-top: 8px;
}
.back_iv{
	width:24px;
	height:24px;
	background:url(../image/resgister.png) -85px 0px;
	float: left;
    margin-left: 16px;
    margin-top: 8px;
}
.reg_but1{
    background: #E10303;
    width: 70px;
    height: 30px;
    margin-left: 50px;
    text-align: center;
    color: white;
    border: none;
}
.reg_div{
	width:auto;
	height:38px;
	display:inline-block;
	border:1px solid #E10303;
	margin-left: 50px;
	position:relative;
}
.reg_div input{
	height:36px;
	width:190px;
	border:none;
}
.rm-arrow{
	width:50px;
	height:50px;
	position:absolute;
	top:50px;
	left:115px;
	background:url(../image/resgister.png) -290px -34px;
}
.rm-arrow1{
	width:50px;
	height:50px;
	position:absolute;
	top:250px;
	left:115px;
	background:url(../image/resgister.png) -290px -34px;
}
.regMenuList{
	background:#F8F8F8;
	
}
.regMenuList_on{
	background:#F3F0EF;
}
.reg_letop{
	background:#F3F0EF;
	width:70%;
	height:100%;
	float:right;
	clear:both;
}

.register_right{
	float:right;
	width:74%;

	height:100%;;
}
.white_content { 
    display: none; 
    position: absolute; 
    top: 15%; 
    left: 25%; 
    width: 55%; 
    height: 75%; 
    padding: 20px; 
    border: 5px solid orange; 
    background-color: white; 
    z-index:1002; 
    overflow: auto; 
} 

body{
	padding:0px;
	margin:0px;
	font-family:"微软雅黑";
}
a{
	text-decoration:none;
}
ul li{
	list-style-type:none;
}
a:hover{
	text-decoration:underline;
}
.header{
	margin:0px auto;
	height:30px;
	background:#F2F2F2;
	margin:0px auto;
	text-align:center;
}
.head_ul{
	margin:0px;
}
.head_uli{
	display:inline-block;
	height:30px;
	line-height:30px;
	text-align:center;
	margin-right:5px;
}
.head_uli a{
	color:#999999;
	font-size:14px;
}
.head_uli a:hover{
	color:red;
}
#head_li3{
	margin-left:220px;
}
#head_li1 a{
	color:white;
	background:#CC0001;
	border-radius:3px;
}
#head_li4 a{
	color:#CC0001;
}
.head_uli span{
	color:#CC0001;
}
.head_uli:hover ul{
	display:block;
}
.head_ul_ul{
	background:white;
	position:absolute;
	border:1px solid #E2E2E2;
	width:185px;
	height:260px;
	z-index:100;
	line-height:26px;
	display:none;
}
.head_ul_ul li{
	width:200px;
	height:auto;
	margin-left:-20px;
	text-align:left;
	border-bottom:1px solid #E2E2E2;
}
.head_ul_ul span{
	float:left;
	font-size:16px;
}
.head_ul_ul i{
	font-size:14px;
	word-spacing:2em;
}
.banner{
	height:110px;
	margin:0px auto;
	text-align:center;
}
.banner img{
	margin-left:80px;
	margin-top:30px;
	display:inline;
}
.banner_ul{
	width:750px;
	height:40px;
	display:inline-block;
}
.banner ul{
	float:right;
	clear:both;
	margin:0px;
	left:640px;
	width:580px;
}
.banner ul li{
	display:inline-block;
	margin:0px;
	height:40px;
	width:160px;
}
.banner_li1{
	background:url(../image/public-24.png) no-repeat 0px -160px;
}
.banner_li2{
	background:url(../image/public-24.png) no-repeat 0px -198px;
}
.banner_li3{
	background:url(../image/public-24.png) no-repeat 0px -238px;
}
.logo{
	height:41px;
	background:#333333;
	text-align:center;
}
.logo ul{
	margin:0px;
}
#logo_li2,#logo_li3,.logo_li1{
	display:inline-block;
	height:41px;
	line-height:41px;
	text-align:center;
	margin-right:26px;

}
/*1111111*/
.logo_li1{
		margin-left:170px;
		width:151px;
		background:#626262;
}
.logo ul li a{
	color:white;
}
.logo_sp1{
	position:absolute;
	width:15px;
	height:15px;
	background:url(../image/public-24.png) 0px 0px; 
	margin-top:19px;
	margin-left:10px;
}
#logo_li2{
	background:#CC3333;
	width:194px;
	margin-left:25px;
}
#logo_li3{
	margin-right:44px;
	margin-left:20px;
}
.logo_sp2{
	position:absolute;
	width:29px;
	height:27px;
	background:url(../image/public-24.png) 0px -38px; 
	margin-top:-10px;
	margin-left:2px;
}
.logo_sp3{
	position:absolute;
	width:21px;
	height:25px;
	background:url(../image/public-24.png) 0px -10px; 
	margin-top:8px;
	margin-left:-30px;
}
.logo_sp4{
	color:#BA000D;
}
.logo_ul_ul{
	position:absolute;
	z-index:102;
	border:1px solid #E2E2E2;
	width:250px;
	height:400px;
	background:white;	
	display:none;
}
.logo_ul_ul li{
	text-align:left;
	height:auto;
	width:200px;
	
}
.logo_ul_ul li span{

	float:left;
	clear:both;
	font-size:15px;
	color:red;
}
.logo_ul_ul i{
	font-size:12px;
	word-spacing:1em;
}
#logo_li2:hover ul{
	display:block;
}
/*------------轮播--------------
*/
.contenttop-left{
	height:400px;
	margin:0px auto;
	width:1600px;
	position:relative;
}
.contenttop-left ul{
	height:400px;
	margin:0px auto;
	width:1600px;
}
.contenttop-left ul li{
	position:absolute;
	height:400px;
	width:1400px;
}
.contenttop-left ul li img{
	height:400px;
	width:1600px;
	margin-left:-40px;
}
.pic_img{
	height:258px;
	margin:0px auto;
	width:100%;
	text-align:center;
}
.cls{
	clear:both;
}
.pic_img img{
	margin-top:30px;
	margin-left:5px;
	margin-right:5px;
}
.con_settle{
	height:342px;
	background:#F7F7F7;
	
}
.con_set{
	width:1058px;
	margin:0px auto;
	height:200px;
	display:table;
	margin-top:50px;
}
.con_seul li{
	display:table-cell;
	width:300px;
	padding-left:20px;
}
.con_seul li img{
	float:left;

	margin-top:60px;
}
.mian_con{
	float:right;
	width:200px;
	text-align:left;
	word-spacing:2px;
}
.mian_con a{
	color:#999999;
}
.con_font{
	height:30px;
	width:408px;
	background:url(../image/index.png);
	position:relative;
	left:50%;
	top:30px;
	margin-left:-500px;
}
.footer{
	height:328px;
	margin:0px auto;
	background:#F7F7F7;
}
.footer_font{
	height:30px;
	width:408px;
	background:url(../image/index.png) 0px -200px;
	position:relative;
	left:50%;
	top:30px;
	margin-left:-500px;
}
.footer_lc{
	margin:0px auto;
	height:195px;
	width:948px;
	background:url("../image/buycar.jpg");
	margin-top:60px;
}
.foot_con{
	height:350px;
	background:#333333;
	margin:0px auto;
	
}
.footerTop{
	width:1000px;
	margin:0px auto;
	height:84px;
	border-bottom:1px solid white;
	text-align:center;
}
.pngIcon{
	float:left;
	clear:both;
	height:45px;
	width:45px;
	background:url("../image/public-24.png") -139px -20px;
	margin-top:20px;
}
.footerContact{
	float:left;
	margin-top:20px;
	margin-left:30px;
}
.footerContact b{
	color:#CC0000;
	font-size:30px;
	margin-right:5px;
}
.footerContact span{
	color:white;
}
.footerTopRight{
	float:right;
	margin-top:30px;
	margin-right:70px;
	color:white;
}
.footerTopRight input{
	height:28px;
	width:202px;
	background:none; 
	border:1px solid #494949; 
	color:#fff;
	margin-left:20px;
	margin-right:-22px;
}
.pngIcon1{
	float:right;
	clear:both;
	height:22px;
	width:25px;
	background:url("../image/public-24.png") -128px 0px;
	margin-top:-24px;
}
/*------------------*/
.footerServices{ 
	width:1000px; 
	height:350px;
	margin:0px auto;
	overflow:hidden; 


}

.footerServices ul li{ width:130px; float:left; display:inline; margin-right:15px; }

.footerServices ul li h3{ font-weight:normal; height:26px; line-height:26px; padding:5px 0;}
.footerServices ul li h3 i{ display:inline-block; width:26px; height:26px; margin-right:9px; float:left; margin-top:-3px;}
.footerServices ul li.servicesItme01 h3 i{ background-position:0 -132px;}
.footerServices ul li.servicesItme02 h3 i{ background-position:-30px -131px;}
.footerServices ul li.servicesItme03 h3 i{ background-position:-60px -132px;}
.footerServices ul li.servicesItme04 h3 i{ background-position:-90px -132px;}
.footerServices ul li.servicesItme05 h3 i{ background-position:-120px -132px;}
.footerServices ul li.servicesItme06 h3 i{ background-position:-150px -132px;}
.footerServices ul li h3 span{ display:inline-block; width:95px; font-size:16px; color:#fff;float:left; overflow:hidden; white-space:nowrap;}
.footerServices ul li p{ width:95px; height:26px; line-height:26px; padding-left:35px; overflow:hidden; white-space:nowrap;}
.footerServices ul li p a,.footerServices ul li p a:hover{ color:#ccc;}

.foot_over{
	height:120px;
	width:100%;
	margin:0px auto;	
	text-align:center;
	position:relative;
}
.footerBotLeft{
	margin:0px auto;
}
.footerPro{
	color:#CC0000;
}
.copybot img{
	zoom:0.5;
}
.copybot{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:400px;
	margin-top:-50px;
}


/*----------------------------*/
.contenttop-left ul li {
    opacity: 0;/*透明度为不透明*/
    filter: alpha(opacity=0);/*透明度为不透明*/
}

.contenttop-left ul li{
	-webkit-animation: round 20s linear infinite;/*animation属性：名字，总共应用时间，动画速度，轮播次数，*/
            animation: round 20s linear infinite;
	}
@-webkit-keyframes round {
    5% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡出*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒o止*/
    }
    25% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡入*/
    }
	/*keyframes只能用百分比表示，100%/20s=5%，5%=1s，@-webkit-表示游览器内核，兼容,下面代码意思一样*/
}
@keyframes round {
    5% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒o止*/
    }
    25% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
/*这个目录下的第五个li，下面分别是第四个，第三个，以此类推*/

.contenttop-left ul li:nth-child(4) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}

.contenttop-left ul li:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.contenttop-left ul li:nth-child(2) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.contenttop-left ul li:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}	
.margin{
	height:680px;
	width:1000px;
	margin:0px auto;
}	
.mar_pic{
	height:30px;
	width:408px;
	background:url(../image/index.png) 0px -45px;
	position:relative;
	left:50%;
	top:30px;
	margin-left:-500px;
}

.mar_tab{
	margin-top:45px;
	border: solid thin #ccc;
}
.mar_td1{
	width:202px;
	height:300px;
}
.mar_td{
	width:404px;
	height:300px;
	background:#F0F0F0;
}
.proName a{
	color:#747474;
	font-size:16px;
	font-weight:bold;	
}
.proName{
		text-indent:20px;
}
.proPrice{
	text-indent:20px;
}
.proPrice strong,.proPrice span{
	color:#CC0000;
}
/*--------------其他-------------*/
.other{
	height:680px;
	width:1000px;
	margin:0px auto;
}	
.oth_pic{
	height:30px;
	width:408px;
	background:url(../image/index.png) 0px -100px;
	position:relative;
	left:50%;
	top:30px;
	margin-left:-500px;
}
.top{
    position: fixed;
    left: 50%;
    margin-left: 600px;
	margin-top:400px;
    height: 60px;
    width: 60px;
	line-height:21px;
    background:#ccc;
	text-align:center;
	
}