body{
	padding:0px;
	margin:0px;
	overflow:hidden;
	overflow-y:hidden;
	background:#494A5F;
}

.header{
	height:183px;
	width:100%;
	background:white;
	margin:0px auto;
	text-align:center;
}
.header h1 {
	margin: 0px auto;
	padding-top:5px;
	color: #66677C;
	font-weight: 600;
	font-size: 2em;
	line-height: 2;
	margin-bottom: 0;
	font-family: "Microsoft YaHei","ו","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
.header h1 span {
	font-family: "Microsoft YaHei","ו","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
	display: block;
	font-size: 60%;
	font-weight: 400;
	padding: -0.1em 0 0.5em 0;
	color: #c3c8cd;
}
.head_header {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	font-size: 1.5em;
	text-align: center;
}

.head_header::after {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background: #dbdbdb;
	content: '';
	-webkit-transform: rotate3d(0,0,1,22.5deg);
	transform: rotate3d(0,0,1,22.5deg);
}
.head_header img{
	width:35px;
	height:35px;
}
.head_a1{
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;

}

.head_a1 span {
	display: none;
}

.head_a1:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}
.con_div{
	background:#494A5F;
	height:80px;
	width:100%;
	position:relative;
	text-align:center;
}
.proccess{
	border:1px solid #69D2E7;
	width:8px;
	height:15px;
	background:#ffffff;
	margin-top:25px;
	border-right:none;
	border-left:none;
	}
.loading{
	position:absolute;
	margin-top:40px;
	text-align:center;
	width:100%;
	color:#69D2E7;
	font-size:20px;
	animation: load 2s  linear infinite;
}
@keyframes load{
	0%,100%{
	margin-top:10px;
	}
	50%{
	margin-top:20px;
	}
}
.footer{
	width:100%;
	margin:0px auto;
	height:450px;
	text-align:center;
	
}
.footer p{
	font-size:20px;
	font-family: "Microsoft YaHei", sans-serif;
	padding-top:30px;
	color:#B3B3B3;
	margin:0px auto;
	word-spacing:10px;

}
.footer img{
	width:300px;
	height:180px;
	padding-top:50px;
	opacity:0.5;
}
.footer img:hover{
	transform:scale(1.3);
	opacity:1;
}
.last_div{
	position:absolute;
	left:50%;
	top:620px;
	transform:translate(-50%,0);
    margin-top:-30px;
}